* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex ;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    width: 500px;
    border-radius: 10px;

}
 
.calculatorTittle {
    background-color: tomato;
    color: white;
    text-align: right;

}

.calculatorTittle h1 {
    margin: 0;
    padding: 24px;
    font-size: 42px;
    font-weight: 100;

}

.calculatorButtons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;

}

.result {
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 4;
    grid-column-end: 5;

}



html {
    font-size: 15px;
}

